@model LearnHub.Models.Courses

@{
    ViewData["Title"] = "Содержание курса";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@if (Model.Lessons.Any())
{
    <h3>Уроки:</h3>
    <ul>
        @foreach (var lesson in Model.Lessons)
        {
            <li>@lesson.Title</li>
        }
    </ul>
}
else
{
    <p>В этом курсе пока нет уроков.</p>
}

<a class="create-btn" href="@Url.Action("Create", "Lesson", new { courseId = Model.CourseId })">+ Новый урок</a>