<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearnHub</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/super-build/ckeditor.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" asp-append-version="true" />
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/cal-heatmap/dist/cal-heatmap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/cal-heatmap/dist/cal-heatmap.css">
</head>
<body>
    @Html.Partial("_Sidebar")
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow">
            <div class="container-fluid d-flex align-items-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/LearnHub_Logo.png" alt="Logo" width="170px" height="20px" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span class="navbar-text">
                    @ViewData["Title"]
                </span>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="search-container">
                        <form class="nosubmit">
                            <input id="searchInput" class="nosubmit" type="search" placeholder="Поиск" aria-label="Search">
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="container-height">
            <main role="main">
                @RenderBody()
            </main>
        </div>      
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - LearnHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/37d65176b3.js" crossorigin="anonymous"></script>   
    <script src="~/js/site.js" asp-append-version="true"></script>  
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
