@using LearnHub.Interfaces
@inject IUserService _userService
@model LearnHub.Models.Users

@{
    var isUserAuthenticated = await _userService.IsUserAuthenticatedAsync();
}

@if (isUserAuthenticated)
{
    <div class="sidebar">
        <ul>
            <li><a class="transparent-a mt-3" asp-controller="Account" asp-action="Profile"><i class="fas fa-user"></i> Профиль</a></li>
            <li><a class="transparent-a" asp-controller="Home" asp-action="Index"><i class="fas fa-book"></i> Курсы</a></li>
            <li><a class="transparent-a"><i class="fas fa-graduation-cap"></i> Уроки</a></li>
        </ul>
        <ul class="bottom-list">
            <hr class="sidebar-divider">
            <li><a class="transparent-a"><i class="fas fa-cog"></i> Настройки аккаунта</a></li>
            <li>
                <form method="post" asp-controller="Account" asp-action="Logout" id="logoutForm">
                    <button class="transparent-a"><i class="fas fa-sign-out-alt"></i> Выйти из аккаунта</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <div class="sidebar">
        <ul>
            <li><a class="transparent-a mt-3" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fas fa-sign-in"></i> Войти</a></li>
            <li><a asp-controller="Home" asp-action="Index" class="transparent-a"><i class="fas fa-book"></i> Курсы</a></li>
        </ul>
        <ul class="bottom-list">
            <hr class="sidebar-divider">
        </ul>
    </div>
}

<div class="modal fade dark-modal" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex">
                    <button type="button" class="full-width-btn login active" onclick="showLogin()">Вход</button>
                    <button type="button" class="full-width-btn register" onclick="showRegister()">Регистрация</button>
                </div>
                <form method="post" asp-controller="Account" asp-action="Login">
                    <div id="loginForm" class="login-page">
                        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.ErrorMessage
                            </div>
                        }
                        <div class="mb-3">
                            <label for="usernameLogin" class="form-label" onclick="return false">Имя пользователя</label>
                            <input asp-for="Username" type="text" name="Username" class="form-control" id="usernameLogin" placeholder="Введите имя пользователя" required>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <label for="passwordLogin" class="form-label" onclick="return false">Пароль</label>
                                </div>
                                <div class="col text-end">
                                    <a href="#">Забыли пароль?</a>
                                </div>
                            </div>
                            <input asp-for="Password" type="password" name="Password" class="form-control" id="passwordLogin" placeholder="Введите пароль" required>
                        </div>
                        <button type="submit" class="login-button">Войти</button>
                    </div>
                </form>
                <form method="post" asp-controller="Account" asp-action="Register">
                    <div id="registerForm" class="login-page" style="display: none;">
                        <div class="mb-3">
                            <label for="usernameInput" class="form-label" onclick="return false">Имя пользователя</label>
                            <input asp-for="Username" type="text" class="form-control" id="usernameRegister" placeholder="Введите имя пользователя" required>
                        </div>
                        <div class="mb-3">
                            <label for="emailRegister" class="form-label" onclick="return false">Email</label>
                            <input asp-for="Mail" type="email" class="form-control" id="emailRegister" placeholder="Введите email" required>
                        </div>
                        <div class="mb-3">
                            <label for="passwordRegiser" class="form-label" onclick="return false">Пароль</label>
                            <input asp-for="Password" type="password" class="form-control" id="passwordRegister" placeholder="Введите пароль" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPasswordRegister" class="form-label" onclick="return false">Повторите пароль</label>
                            <input type="password" class="form-control" id="confirmPasswordRegister" placeholder="Повторите пароль" required>
                        </div>
                        <button type="submit" class="login-button">Зарегистрироваться</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>