@model List<LearnHub.Models.Lessons>

@{
	ViewData["Title"] = "Passage";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="lesson-container">
    <div class="lesson-list">
        <ul>
            @foreach (var lesson in Model)
            {
                <li data-lesson-id="@lesson.LessonId">@lesson.Title</li>
            }
        </ul>
    </div>
    <div class="lesson-content">
        <div id="lesson-text"></div>
        <div id="lesson-assignments"></div>
        <div id="notification" class="notification"></div>
        <div class="lesson-navigation">
            <button id="prev-lesson-btn">Предыдущий урок</button>
            <button id="next-lesson-btn">Следующий урок</button>           
        </div>
    </div>
</div>