html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #fff !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.sidebar-divider {
    border-bottom: 1px solid #ddd;
    margin: 5px 0;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    overflow-y: auto;
    background-color: #333;
    z-index: 1;
}

    .sidebar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        .sidebar ul li a {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            color: #fff;
            text-align: left;
            cursor: pointer;
            margin-bottom: 5px;
        }

.bottom-list {
    position: absolute;
    bottom: 0;
    width: 100%;
}

    .bottom-list ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .bottom-list li button {
        width: 100%;
        padding: 8px 10px;
        border: none;
        border-radius: 5px;
        color: #fff;
        text-align: left;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .bottom-list hr.sidebar-divider {
        margin: 5px 0;
        border: none;
        border-top: 1px solid #ddd;
    }

.transparent-a {
    display: block;
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #fff; 
    text-align: left;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
}

    .transparent-a:hover {
        background-color: #555;
    }

header {
    margin-left: 250px;
}

@media (min-width: 1920px){
    .container {
        max-width: 1920px;
    }
}

.container {
    min-width: calc(100% - 250px) !important;
    margin-left: 250px;
    padding: 0 !important;
    overflow-x: hidden;
}

.container-height {
    min-height: calc(100vh - 70.5px);
}

footer.footer {
    width: 100%;
}

form.nosubmit {
    border: none;
    padding: 0;
}

input.nosubmit {
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

    input.nosubmit:focus {
        outline: none;
    }

.navbar-text {
    color: #000000;
    font-size: 25px;
}

.navbar-brand {
    height: 100%;
    display: flex;
    background-color: transparent;
}

.search-container {
    position: absolute;
    right: 50px;
}

    .search-container input {
        width: 300px;
        border-radius: 25px;
    }

.modal-body {
    display: flex;
    padding: 0;
    flex-direction: column;
}

.modal-content {
    padding: 0;
}

.full-width-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: transparent;
    color: #6c757d;
}

    .full-width-btn.login {
        border-right: 1px solid #6c757d;
        border-bottom: 1px solid #6c757d;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
    }

    .full-width-btn.register {
        border-left: 1px solid #6c757d;
        border-bottom: 1px solid #6c757d;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
    }


    .full-width-btn.active {
        background-color: transparent;
        color: #6c757d;
        border-color: transparent;
    }

        .full-width-btn.active:focus {
            box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.2);
        }

    .full-width-btn:not(.active) {
        background-color: transparent;
        color: #6c757d;
    }

.login-page {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: auto;
    padding-bottom: 30px;
}

.form-control {
    height: 50px;
}

    .form-control:focus,
    .form-control.focus {
        outline: none !important;
        box-shadow: none !important;
    }

.login-button {
    width: 100%;
    margin: 0 auto;
    padding: 12px 20px;
    background-color: #65b23c;
    color: #fff;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

    .login-button:hover {
        background-color: #4c9a22;
    }

    .login-button:focus {
        outline: none;
    }

.slider {
    position: relative;
    width: 80%;
    margin: auto;
}

.slide-container {
    width: 100%;
    scroll-snap-type: x mandatory;

}

.slide {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.catalog-card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 450px;
    height: 250px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

    .catalog-card:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    }

    .catalog-card a{
        text-decoration: none;
        color: black
    }

    .catalog-card a:hover{
        text-decoration: underline;
    }

.pagination {
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

    .pagination span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #bbb;
        margin: 0 5px;
        cursor: pointer;
    }

    .pagination .active {
        background-color: #333;
    }

.prev,
.next {
    position: absolute;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 60px; 
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .prev:hover,
    .next:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

.prev {
    left: 0;
}

.next {
    right: 0;
}

.banner {
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 20px;
}

    .banner h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .banner p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .banner a {
        display: block;
        width: fit-content;
        padding: 8px 10px;
        border: none;
        border-radius: 25px;
        background-color: #00AB00;
        color: #fff;
        text-align: center;
        cursor: pointer;
        margin: auto;
        transition: background-color 0.3s;
        text-decoration: none;
    }
        .banner a:hover {
            background-color: #009B00
        }

.container-index {
    display: grid;
    width: calc(100vw - 265px);
    min-height: calc(100vh - 70.5px);
    grid-template-columns: 75% 25%;
    position: relative;
}
    .container-index::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 75%; 
        width: 1px; 
        background-color: #ccc; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

.left-content {
    justify-content: center;
    align-items: center;
}

.right-content {
    justify-content: center;
    align-items: center;
}

.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.profile-details {
    margin-top: 20px;
}

    .profile-details p {
        margin-bottom: 10px;
        font-size: 16px;
    }

.avatar-img {
    max-width: 200px;
    border-radius: 50%;
}

.card-profile {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card-body-profile {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

    .gutters-sm > .col, .gutters-sm > [class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

.lesson-container {
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: calc(100vh - 70.5px);
}

.lesson-list {
    background-color: #f8f9fa;
}

    .lesson-list ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .lesson-list li {
        cursor: pointer;
        padding: 10px;
        transition: background-color 0.3s;
    }

        .lesson-list li:hover,
        .lesson-list li.active {
            background-color: #e9ecef;
        }

.lesson-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

#lesson-text {
    width: 100%;
}

    #lesson-text img {
        max-width: 100%;
        max-height: 100%;
    }

    #lesson-text figure {
        aspect-ratio: 16/9;
    }

.lesson-navigation {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%; 
    align-self: flex-end;
}

    .lesson-navigation button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px 5px 0px 5px;
        cursor: pointer;
    }

        .lesson-navigation button:hover {
            background-color: #0056b3;
        }

        .lesson-navigation button:focus {
            outline: none;
        }

.promo-container {
    max-width: 900px;
    margin: auto;
    margin-left: 250px;
    text-align: left;
}

.promo-description {
    margin-bottom: 20px;
}

.promo-lesson-list {
    padding-left: 20px;
}

.promo-lesson-item {
    margin-bottom: 5px;
}

.promo-btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

    .promo-btn:hover {
        background-color: #0056b3;
    }

.grades-container {
    margin-top: 30px;
}

    .grades-container h3 {
        margin-bottom: 10px;
    }

    .grades-container p {
        font-size: 48px;
        margin-bottom: 10px;
        color: #333; 
    }

    .grades-container ul {
        list-style-type: none;
        padding: 0;
    }

        .grades-container ul p {
            margin: 5px 0;
            font-size: 16px;
        }

    .grades-container button {
        margin-top: 10px;
    }

    .grades-container button {
        background-color: #28a745;
        color: #fff; 
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .grades-container button:hover {
            background-color: #218838; 
        }

    .grades-container .review {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

        .grades-container .review p {
            margin: 5px 0;
        }

        .count-grades {
            font-size: 22px !important;
        }

        .user-info a {
            text-decoration: none;
            color: black;
        }

.star-icon {
    color: #ffca1e;
    font-size: 48px;
}

.icons-row {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
}

    .icons-row p {
        margin-right: 14px;
        font-size: 14px;
    }

    .icons-row a {
        margin-left: 160px;
        font-size: 16px;
        background-color: #28a745 !important;
        color: #fff !important;
        padding: 8px 15px;
        border: none;
        border-radius: 0;
        cursor: pointer;
        transition: background-color 0.3s;
    }
        .icons-row a:hover {
            background-color: #218838 !important;
            text-decoration: none !important;
        }

.teach-container {
    justify-content: center;
    display: flex;
    margin-left: 50px;
    margin-right: 250px;
    margin-top: 20px;
}

.course-list {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
}

.course-item {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.course-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.course-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .course-actions a {
        text-decoration: none;
        color: #007bff;
        transition: color 0.3s;
    }

        .course-actions a:hover {
            color: #0056b3;
        }

.last-enroll {
    width: 100%;
    margin-top: 20px;
}
.last-enroll h3 {
    text-align: center;
}

.last-enroll-card {
    position: relative;
    border: 1px solid #ccc;
    padding: 20px;
    height: 250px;
}
.last-enroll-card a {
    text-decoration: none;
    color: black;
}

.last-enroll-card a:hover {
    text-decoration: underline;
}

.course-delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .course-delete-btn:hover {
        background-color: #c82333;
    }

.review-container {
    margin-bottom: 20px;
    border-top: 1px solid;
}

.review {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

    .review .user-info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

        .review .user-info img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .review .user-info .username {
            font-weight: bold;
        }

    .review .stars {
        color: #ffca1e;
        margin-bottom: 10px;
    }

        .review .stars i {
            font-size: 20px;
            margin-right: 5px;
        }

    .review .comment {
        margin-bottom: 10px;
        font-size: 22px;
        color: #333;
    }

    .review .date {
        color: #999;
        font-size: 12px;
    }

.discussions {
    width: 35%;
    height: 700px;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
    overflow: hidden;
    background-color: #87a3ec;
    display: inline-block;
}

    .discussions .discussion {
        width: 100%;
        height: 90px;
        background-color: #FAFAFA;
        border-bottom: solid 1px #E0E0E0;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .discussions .search {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #E0E0E0;
    }

        .discussions .search .searchbar {
            height: 40px;
            background-color: #FFF;
            width: 70%;
            padding: 0 20px;
            border-radius: 50px;
            border: 1px solid #EEEEEE;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

            .discussions .search .searchbar input {
                margin-left: 15px;
                height: 38px;
                width: 100%;
                border: none;
                font-family: 'Montserrat', sans-serif;
                ;
            }

            .discussions .search .searchbar *::-webkit-input-placeholder {
                color: #E0E0E0;
            }

            .discussions .search .searchbar input *:-moz-placeholder {
                color: #E0E0E0;
            }

            .discussions .search .searchbar input *::-moz-placeholder {
                color: #E0E0E0;
            }

            .discussions .search .searchbar input *:-ms-input-placeholder {
                color: #E0E0E0;
            }

    .discussions .message-active {
        width: 98.5%;
        height: 90px;
        background-color: #FFF;
        border-bottom: solid 1px #E0E0E0;
    }

    .discussions .discussion .photo {
        margin-left: 20px;
        display: block;
        width: 45px;
        height: 45px;
        background: #E6E7ED;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

.online {
    position: relative;
    top: 30px;
    left: 35px;
    width: 13px;
    height: 13px;
    background-color: #8BC34A;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
}

.desc-contact {
    height: 43px;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.discussions .discussion .name {
    margin: 0 0 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    color: #515151;
}

.discussions .discussion .message {
    margin: 6px 0 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 9pt;
    color: #515151;
}

.timer {
    margin-left: 15%;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    padding: 3px 8px;
    color: #BBB;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
}

.chat {
    width: calc(65% - 85px);
}

.header-chat {
    background-color: #FFF;
    height: 90px;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
    display: flex;
    align-items: center;
}

.chat .header-chat .icon {
    margin-left: 30px;
    color: #515151;
    font-size: 14pt;
}

.chat .header-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    color: #515151;
}

.chat .header-chat .right {
    position: absolute;
    right: 40px;
}

.chat .messages-chat {
    padding: 25px 35px;
}

    .chat .messages-chat .message {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }

        .chat .messages-chat .message .photo {
            display: block;
            width: 45px;
            height: 45px;
            background: #E6E7ED;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

    .chat .messages-chat .text {
        margin: 0 35px;
        background-color: #f6f6f6;
        padding: 15px;
        border-radius: 12px;
    }

.text-only {
    margin-left: 45px;
}

.time {
    font-size: 10px;
    color: lightgrey;
    margin-bottom: 10px;
    margin-left: 85px;
}

.response-time {
    float: right;
    margin-right: 40px !important;
}

.response {
    float: right;
    margin-right: 0px !important;
    margin-left: auto; /* flexbox alignment rule */
}

    .response .text {
        background-color: #e3effd !important;
    }

.footer-chat {
    width: calc(65% - 66px);
    height: 80px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    border-top: 2px solid #EEE;
}

.chat .footer-chat .icon {
    margin-left: 30px;
    color: #C0C0C0;
    font-size: 14pt;
}

.chat .footer-chat .send {
    color: #fff;
    background-color: #4f6ebd;
    position: absolute;
    right: 50px;
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
    font-size: 14pt;
}

.chat .footer-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    color: #515151;
}

.chat .footer-chat .right {
    position: absolute;
    right: 40px;
}

.write-message {
    border: none !important;
    width: 60%;
    height: 50px;
    margin-left: 20px;
    padding: 10px;
}

.footer-chat *::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}

.footer-chat input *:-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}

.footer-chat input *::-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
    margin-left: 5px;
}

.footer-chat input *:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}

.clickable {
    cursor: pointer;
}