@model LearnHub.Models.Users
@{
    ViewData["Title"] = "Профиль";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div>
        <p>@Model.Username</p>
        <p>@Model.Mail</p>
        <p>@Model.RegistrationDate.ToString("dd-MM-yyyy")</p>
    </div>
</div>