@model LearnHub.Models.Users

@{
    ViewData["Title"] = "Настройки аккаунта";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Settings" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Avatar">Загрузить новую аватарку</label>
        <input type="file" name="AvatarFile" class="form-control-file" />
    </div>
    @if (!string.IsNullOrEmpty(Model.Avatar))
    {
        <div class="form-group">
            <label>Текущая аватарка</label>
            <img src="@Model.Avatar" alt="Current Avatar" class="avatar-img" />
        </div>
    }
    <div class="form-group">
        <label asp-for="FirstName">Имя</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName">Фамилия</label>
        <input asp-for="LastName" class="form-control" />
    </div>   
    <button type="submit" class="btn btn-primary">Обновить настройки</button>
</form>